/* Style sheet for the homework assignment */

/*Styling for body */
body {
    font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
    color: black; /*Need to change this #777 later */
    background: #777; /*Background is #777 per spec, in case change for testing */
    width: 960px; /*Set at 960px per spec */
    font-size: 18px; /*Set at 18px per spec */
    margin: auto;
    padding: 0;
    display: block;
}
 /*vheader, nav, footer {
    margin-top: 1%;
    margin-bottom: 2%;
}
*/

header, nav, section, aside, footer {
    background: #ebebeb; /*background should be #ebebeb per spec */ 
    /*border: solid black 10px; */
}

header, nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}
article {
    background: #777; /*background should be #777 per spec */ 
    color: #ebebeb; /*Need to change this to #ebebeb later */
    width: 300px;
    margin: auto;
    text-align: center;
    height: 200px;
}

h1, p {
    color: #777; /* #777 per spec */
    background: #ebebeb; /*background should be #ebebeb per spec */
    text-align: center;
}

section {
    float: left;
    width: 495px; /*495px per spec */
    margin: auto;
    height: 400px;
}


aside {
    float: right;
    width: 465px;
    height: 400px;

}

p {
    width:250px;
    margin: auto;
}

footer {
    width: 960px;
    margin: auto;
}